.calculatorContainer {
    margin: 0 auto;
    width: 500px;
    padding-top: 40px;
}


.calculator {
 
    background: grey;
    border: solid black 2px;
    border-radius: 7px;
    display: grid;
    grid-template-columns: .8fr .2fr;
    grid-template-rows: 1.1fr 1fr 1fr 1fr 1fr 1.1fr;
    grid-template-areas: "display      display"
                         "MainContent  operator"
                         "MainContent  operator"
                         "MainContent  operator"
                         "MainContent  operator"
                         "equals       equals" ;
    
    gap: 10px;
    height: 452px;
}



.display {
    grid-area: display;
    border: 1px solid black;
    background: rgb(247, 244, 244);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    overflow: auto;
}

.calculatorButtons {
    grid-area: MainContent;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    gap: 5px;
    padding-left: 10px;

}


.equalsDiv {
    grid-area: equals;
    border: 1px solid black;
    
}

.equalButton {
    border: none;
    height: 100%;
    width: 100%;
    background: rgb(76, 76, 236);
}


.operators {
    grid-area: operator;
    display: flex;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

button {
    font-size: 25px;
}
.operatorButton {
    font-size: 25px;
    width: 90px;
    height: 58px;
    background: rgb(209, 69, 69);
}


.author {
    margin: 0 auto;
    width: 500;
    text-align: center;
    padding-top: 20px;
}



